<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ng-macro | Jonnie.io</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="ngMacro">
    <div ng-controller="macroCtrl"id="macro-Container" class="container">
        <div class="row">
            <div class="col-sm-12"><h1>{{gym}}</h1></div>
        </div>
         <div class="row">
               <div class="col-sm-6 form-group"><input type="text" class="form-control" id="user_name" ng-model="user.name" placeholder="What's your name?"></div>
                <div class="col-sm-3 form-group">
                  <div class="input-group">
                     <input type="text" class="form-control"  id="user_weight" ng-model="user.weight" placeholder="What's your weight?">
                     <span class="input-group-addon">lbs</span>
                  </div>
               </div>
               <div class="col-sm-3 form-group">
                  <div class="input-group">
                     <input type="text" class="form-control"  id="user_height" ng-model="user.height" placeholder="What's your Height?">
                     <span class="input-group-addon">cm</span>
                  </div>
               </div>
            </div>
    
            <div class="row">
               <div class="col-sm-12">
                  <p class="bg-primary kcal-flash">
                  <b>&nbsp;{{getName(user.name)}}&nbsp;Fat Loss Plan
                  </p>
               </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group">
                <label class="sr-only">
                  Current Bodyfat %
                </label>
                <input type="text" class="form-control" id="user_fatpercent" placeholder="Your current bodyfat %" ng-model="user.currentFatPercentage">
              </div>
              <div class="col-sm-6 form-group">
                <label class="sr-only">
                  Target Weight
                </label>
                <input type="text" class="form-control" id="target_weight" placeholder="Your target weight (lbs)" ng-model="user.targetWeight">
              </div>
            </div>
             <div class="row">
                <div class="col-sm-12 form-group">
                    <select name="" id="" class="form-control" ng-model="user.activityLevel" ng-change="{{updateNutrition()}}">
                        <option value="">what was your ProFitness Ireland nutritional evaluation score?</option>
                        <option ng-repeat="activityLevel in activityLevels" value="{{activityLevel.value}}">{{activityLevel.title}} </option>
                    </select>
                </div>
  
            </div>
            <div class="row" style="padding:10px;">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead class="bold-th">
                            <th></th>
                              <td ng-repeat="goal in goals">{{goal.title}}</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Calories:</td>
                                <td ng-repeat="goal in goals">{{goal.calories | number:0}}kcal</td>
                            </tr>
                            <tr>
                                <td>Protien:</td>
                                <td ng-repeat="goal in goals">{{goal.protein | number:0}}g</td>
                            </tr>
                            <tr>
                                <td>Fats:</td>
                                <td ng-repeat="goal in goals">{{goal.fats | number:0}}g</td>
                            </tr>
                            <tr>
                                <td>Carbs:</td>
                                <td ng-repeat="goal in goals">{{goal.carbs | number:0}}g</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="footer ng-scope">
          <p><span class="glyphicon glyphicon-heart"></span> Built By <a href="http://www.jonnie.io" class="jonnie_href">Jonnie.io</a></p>
        </div>
    </div>
    
    <!-- Dependencies-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>

    <script src="app.js"></script>
</body>
</html>
