.kcal-flash{
    padding: 5px;
    padding-left: 15px;
    color: #fff;
    background-color: #000000;
}
.float-right{
    float:right;
}

.footer > p{
	padding-top: 19px;
	color: #777;
	
	text-align: right;
} 
thead.bold-th {
	color: #ffffff;
	background-color: #000000;
}
#user_name{
	width:100% !important;
}
#macro-Container{
	padding-right: 50px;
}
#user_fatpercent{
	width:100% !important;
}
#target_weight{
	width:100% !important;
}