.kcal-flash{
    padding: 5px;
    padding-left: 15px;
    color: #fff;
    background-color: #000000;
}
.float-right{
    float:right;
}

.footer > p{
	padding-top: 19px;
	color: #777;
	
	text-align: right;
} 
thead.bold-th {
	color: #ffffff;
	background-color: #000000;
}
#user_name{
	width:100% !important;
}
#macro-Coidntainer{
	padding-right: 50px;
	max-width:1100px;
}
#user_fatpercent{
	width:100% !important;
}
#target_weight{
	width:100% !important;
}

a.jonnie_href{
	padding-top: 19px;
color: #777;
text-align: right;
}
a.jonnie_href:hover{
	color: #428bca;
	text-decoration: none;
}

@media (max-width: 990px){
	#macro-Coidntainer{
	padding-right: 50px;
	max-width:1100px;
	}
	
}
@media (min-width: 1100px){
	#macro-Coidntainer{
	padding-right: 120px;
	max-width:1100px;
	}
	
}
