.kcal-flash{
    padding: 5px;
    padding-left: 15px;
    color: #fff;
    background-color: #000000;
}
.float-right{
    float:right;
}

.footer > p{
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	text-align: right;
} 
thead.bold-th {
	color: #ffffff;
	background-color: #000000;
}
#user_name{
	max-width:none;
}